{% extends 'getfeedback/base.html' %}

{% block content %}
<table id="data">
    <tr>
        <th>Prompt</th>
        <th>Completion</th>
        <th># Yes</th>
        <th># No</th>
        <th># Total</th>
    </tr>
    {% for q in questions %}
    <tr>
        <td>{{ q.prompt }}</td>
        <td>{{ q.completion }}</td>
        <td>{{ q.yes_votes }}</td>
        <td>{{ q.no_votes }}</td>
        <td>{{ q.no_votes|add:q.yes_votes }}</td>
    </tr>

    {% endfor %}

</table>
<br />
<button onclick="exportTableToJSON('data')" class="btn">Export data as JSON</button>
{% endblock %}

{% block javascript %}
<script>
    function exportTableToJSON(tableId) {
        var table = document.getElementById(tableId);
        var headers = Array.from(table.querySelectorAll("th")).map(function (th) {
            return th.textContent.trim();
        });
        var rows = Array.from(table.querySelectorAll("tbody tr"));
        var data = [];
        rows.forEach(function (row) {
            if (row.querySelectorAll("td").length > 0) {
                var rowData = {};
                Array.from(row.querySelectorAll("td")).forEach(function (cell, i) {
                    rowData[headers[i]] = cell.textContent.trim();
                });
                data.push(rowData);
            }
        });

        var jsonData = new Blob([JSON.stringify(data)], { type: "application/json" });
        var downloadLink = document.createElement("a");
        downloadLink.href = URL.createObjectURL(jsonData);
        downloadLink.download = "data.json";
        document.body.appendChild(downloadLink);
        downloadLink.click();
        document.body.removeChild(downloadLink);
    }
</script>
{% endblock %}