{% extends 'getfeedback/base.html' %}

{% block content %}
<h1>Feedbackr</h1>
<br />
<p>Feedbackr is a super simple piece of software to help collect yes/no feedback on language model outputs from humans.
</p>
<p>Just upload your prompt/completion dataset as a csv file and anyone will be able to score the completions via a
    generated link.</p>
<p>You can download the collected data from the platform at any point.</p>
<p>Please do not upload sensitive data, and remember that Feedbackr is still in development so may be completely reliable.</p>
{% endblock %}