:root {
    --theme-red: #EC0B43;
    --theme-violet: #c92ae4;
    --theme-blue: #0f7fab;
    --theme-green: #59ae18;
    --theme-yellow: #FFF689;
    --theme-gray: #333333;
    --theme-bg: #FFFFFF;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
a:visited {
    color: var(--theme-violet);
    font-weight: 600;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Set basic font and colors */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    color: var(--theme-gray);
    background-color: var(--theme-bg);
    position: relative;
}

/* Create a container to center the website */
.container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 40px;
    min-height: 80vh;
    position: relative;
}

/* Create a responsive navigation bar */
nav {
    padding: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
}

nav a {
    margin: 0 10px;
}

/* Create a responsive button */
.btn {
    background-color: var(--theme-violet);
    color: white;
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    padding: 10px 20px;
    text-align: center;
    vertical-align: baseline;
    margin: 4px 0;
    border-style: none;
    outline-style: none;
}

/* Make the button look good on hover */
.btn:hover {
    filter: brightness(90%);
}

/* Create a responsive footer */
footer {
    padding: 10px;
    text-align: center;
    font-size: 12px;
    width: 100%;
}

/* Give the table a basic style */
table {
    width: 100%;
    border-collapse: collapse;
}

/* Add style to the table head */
thead {
    background-color: var(--theme-gray);
    color: white;
    font-weight: 600;
}

td,
th {
    padding: 10px;
    border: 1px solid var(--theme-gray);
}

.no {
    background-color: var(--theme-red);
    color: white;
    font-weight: 600;
    padding: 2px 4px;
    border-style: none;
    outline-style: none;
    cursor: pointer;
}

.yes {
    background-color: var(--theme-green);
    color: white;
    font-weight: 600;
    padding: 2px 4px;
    border-style: none;
    outline-style: none;
    cursor: pointer;
}

.yes:disabled,
.no:disabled {
    filter: saturate(20%);
    color: white;
}

table {
    max-width: 100%;
}

th,
td {
    max-height: 120px;
    overflow-y: auto;
    overflow-x: hidden;
    vertical-align: text-top;
}

ul > li, p {
    margin-bottom: 4px;
}

input {
    padding: 4px 8px;
}

label {
    margin-right: 4px;
}